{{ define "content" }}
<div class="row">
    <div class="col-xs-12 col-md-4">
        {{- $image := resources.Get .Params.image -}}
        <img class="team-photo large" src={{ ($image.Fill "600x600 webp").Permalink }} />
    </div>
    <div class="col-xs-12 col-md-8 text-tertiary">
        {{ .Content }}
    </div>

</div>

<div class="row team" style="margin-top: 100px;">
    {{ $plays := .Params.plays }}
    {{ range $play := ($.Site.GetPage "plays").Pages }}
        {{ if in $plays $play.File.ContentBaseName }}
            {{- $image := resources.Get $play.Params.image  -}}
            <div class="col-xs-12 col-md-4 member">
              <a href="{{ .Permalink }}">
                  <img src={{ ($image.Fill "400x400 webp").Permalink }} alt="{{ .Title }}" aria-hidden="true" />
                  <div class="name">{{ .Title }}</div>
              </a>
            </div>
        {{ end }}
    {{ end }}
</div>
{{ end }}

