{{ with $.Site.GetPage "events" }}

{{ $events := (slice) }}
{{ $events_past := (slice) }}
{{ range (.Pages.ByParam "eventDate") }}
{{ if (time .Params.EventDate).After ((time (dateFormat "2006-01-02" now)).AddDate 0 0 -1) }}
{{   $events = $events | append . }}
{{ else }}
{{   $events_past = $events_past | append . }}
{{ end }}
{{ end }}

<div id="content-events"></div>

{{ partial "sections/content/title.html" (dict "Title" "Termine")}}

<div class="container col-md-offset-2">
  <div class="row">
    {{ if gt (len $events) 0 }}
      {{ partial "sections/content/events_list.html" $events }}
    {{ else }}
      <div class="events-empty">Momentan sind leider keine Veranstaltungen geplant.</div>
    {{ end }}

    <details class="events-past">
      <summary>
        <span class="handle-show">Vergangene Termine zeigen</span>
        <span class="handle-hide">Vergangene Termine ausblenden</span>
      </summary>

      {{ partial "sections/content/events_list.html" $events_past.Reverse }}
    </details>

  </div>
</div>
{{ end }}


