{{ with $.Site.GetPage "events" }}

{{ $events := (slice) }}
{{ range (.Pages.ByParam "eventDate") }}
{{ if (time .Params.EventDate).After ((time (dateFormat "2006-01-02" now)).AddDate 0 0 -1) }}
{{ $events = $events | append . }}
{{ end }}
{{ end }}

{{ if gt (len $events) 0 }}

<div id="content-events"></div>

{{ partial "sections/content/title.html" . }}

{{ $lastMonth := "" }}

<div class="container col-md-offset-2">
  <div class="row">
    {{ range $events }}

    {{ $currentMonth := (dateFormat "2006-01" (time .Params.EventDate)) }}

    <div class="col-xs-12 col-md-8 event {{ if ne $currentMonth $lastMonth }}next-month{{ end }}">
      <div class="event-date">
        {{ if ne $currentMonth $lastMonth }}
        <span class="month">{{ partial "month.html" (time .Params.EventDate) }}</span>
        <span class="year">{{ dateFormat "2006" (time .Params.EventDate) }}</span>
        {{ end }}
      </div>

      <div class="event-title">
        {{ if ne .Content "" }}
        <a class="title" href="{{ .Permalink }}">{{ .Title }}</a>
        <div class="meta">{{ .Params.EventDate }}</div>
        {{ else }}
        <span class="title">{{ .Title }}</span>
        <div class="meta">{{ partial "date.html" .Params.EventDate }} - {{ .Params.Location }}</div>
        {{ end }}
      </div>
    </div>

    {{ $lastMonth = $currentMonth }}
    {{ end }}
  </div>
</div>
{{ end }}

{{ end }}

