{{ "<!-- ABOUT -->" | safeHTML }}
{{ with .Site.Data.about }}
    {{ partial "sections/content/anchor.html" "about" }}
    <section class="section bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ with .title }}
                        <h2 class="section-heading">{{ . }}</h2>
                        <hr class="primary light">
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div class="profile">
                        {{- $img := resources.Get "images/logo.png"  -}}
                        {{- $img_src := ($img.Resize (printf "%dx%d webp" $img.Width $img.Height)).Permalink }}

                        <div class="portrait" style="background-image: url('{{ $img_src }}');"></div>
                        {{ with .short_text }}
                            <div class="text-primary">
                                <p>{{ . | markdownify }}</p>
                            </div>
                        {{ end }}
                    </div>
                </div>

                {{ with .long_text }}
                    <div class="col-xs-12 col-md-8 text-tertiary">
                        <p>{{ . | markdownify }}</p>
                    </div>
                {{ end }}
            </div>
        </div>
        <div class="container">
            <div class="row team">
                {{ range where ($.Site.GetPage "team").Pages "Params.guest" "!=" true }}
                    {{- $image := resources.Get .Params.image -}}
                    <div class="col-xs-12 col-md-4 member">
                      <a href="{{ .Permalink }}">
                          <img src={{ ($image.Fill "400x400 webp").Permalink }} alt="{{ .Title }}" aria-hidden="true" />
                          <div class="name">{{ .Title }}</div>
                      </a>
                    </div>
                  {{ end }}
            </div>
        </div>
        <div class="container">
            <div class="row heading-guest">
                <div class="col-md-12">
                    {{ with .title }}
                        <h2 class="section-heading">Gastkünstlerin</h2>
                        <hr class="primary light">
                    {{ end }}
                </div>
            </div>
            <div class="row team">
                {{ range where ($.Site.GetPage "team").Pages "Params.guest" "==" true }}
                    {{- $image := resources.Get .Params.image -}}
                    <div class="col-xs-12 col-md-4 member">
                      <a href="{{ .Permalink }}">
                          <img src={{ ($image.Fill "400x400 webp").Permalink }} alt="{{ .Title }}" aria-hidden="true" />
                          <div class="name">{{ .Title }}</div>
                      </a>
                    </div>
                  {{ end }}
            </div>
        </div>
    </section>
{{ end }}
