{{ "<!-- CONTACT -->" | safeHTML }}
{{ with .Site.Data.contact }}
    {{ partial "sections/content/anchor.html" "contact" }}
    <section class="section contact"
        {{- $img := resources.Get "images/banner_2.jpg"  -}}
        {{- $colors := $img.Colors -}}
        {{- $img_src := ($img.Resize (printf "%dx%d webp" $img.Width $img.Height)).Permalink }}

        style="background-image: url('{{ $img_src }}'); background-color: {{ index $colors 0 }};"
    >
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {{ with .title }}
                        <h2 class="section-heading text-tertiary">{{ . }}</h2>
                        <hr class="primary">
                    {{ end }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-1 text-center">
                    <div class="profile bg-secondary">
                        {{- $img := resources.Get "images/logo.png"  -}}
                        {{- $img_src := ($img.Resize (printf "%dx%d webp" $img.Width $img.Height)).Permalink }}

                        <div class="portrait" style="background-image: url('{{ $img_src }}');"></div>

                        {{ with .description }}
                            <div class="text-primary">
                                <p>{{ . | markdownify }}</p>
                            </div>
                        {{ end }}

                        <div class="email-link" itemprop="email">
                            {{ with .email }}
                                {{ if .link }}
                                <a href="mailto:{{ .address }}">
                                {{ end }}
                                    {{ if .icon }}
                                        <span class="icon icon-{{ .icon }}" aria-label="{{ .icon }}"></span>
                                    {{ end }}
                                    {{ .address }}
                                    </i>
                                {{ if .link }}
                                </a>
                                {{ end }}
                            {{ end }}
                        </div>

                        <ul class="icons-list">
                            {{ range .social }}
                                {{ $pack := or .icon_pack "fa" }}
                                <li>
                                    <a itemprop="sameAs" href="{{ .link | safeURL }}" target="_blank" rel="noopener">
                                        <span class="icon-2x icon-{{ .icon }}" aria-label="{{ .icon }}"></span>
                                    </a>
                                </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{{ end }}
