{{ "<!-- HOME -->" | safeHTML }}
{{ with .Site.Data.home }}
    <section id="home"
        {{- $img := resources.Get "images/banner.jpg"  -}}
        {{- $colors := $img.Colors -}}
        {{- $img_src := ($img.Resize (printf "%dx%d webp" $img.Width $img.Height)).Permalink }}

        style="background-image: url('{{ $img_src }}'); background-color: {{ index $colors 0 }};"
      >
        <div class="header-content">
            <div class="header-content-inner">
                {{ with .title }}
                    <h1>{{ . | markdownify  }}</h1>
                {{ end }}
                {{ with .subtitle }}
                    <h2>{{ . | markdownify }}</h2>
                {{ end }}
                {{ if .title }}
                    <hr class="primary">
                {{ end }}
                {{ with .text }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
                {{ with .button_text }}
                    <a href="#about" class="btn btn-primary page-scroll">
                        {{ . }}<br>
                    </a>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}
