<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    <body id="page-top">
        {{ partial "header.html" . }}

        {{ block "body" . }}
          <section class="section bg-primary content-block">
              <div class="container">
                  {{ block "title" . }}
                      <div class="row">
                          <div class="col-md-12">
                              <h2 class="section-heading">{{ .Title }}</h2>
                              <hr class="primary light">
                          </div>
                      </div>
                  {{ end }}
              </div>

              <div class="container">
                  {{ block "content" . }}
                      <div class="row">
                          <div class="col-xs-12 col-md-8 text-tertiary">
                              {{ .Content }}
                          </div>
                      </div>
                  {{ end }}
              </div>
          </section>
        {{ end }}

        {{ block "tail" . }}
            {{ partial "tail.html" . }}
        {{ end }}
    </body>
</html>
