span.icon,
span.icon-2x {
    display: inline-block;

    color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    vertical-align: middle;
}

span.icon {
    width: 14px;
    height: 14px;
}
span.icon-2x {
    width: 17.5px;
    height: 20px;
}

span.icon-facebook {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/archive/c/c2/20210305134841%21F_icon.svg);
}

span.icon-mail {
    background-image: url(/icons/icon-email.svg);
}
