@import 'defaults';
@import 'theme';

@import 'icon';

@import 'sections/about/index';
@import 'sections/content/plays';

html {
  scroll-behavior: smooth;
}

#navbar-content {
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;

  &.show {
    max-height: 300px;
  }
}


