{{ define "content" }}


{{ with $.Site.GetPage "articles" }}
{{ range .Pages }}
<div class="container col-md-offset-2">
  <div class="row">
    {{ if and (.Params.images) (gt (len .Params.images) 0) }}
      {{ range .Params.images }}
        {{- $image := resources.Get . -}}
        <img src={{ ($image.Fill "320x320").Permalink }} alt="" aria-hidden="true" />
      {{ end }}
    {{ else }}
      {{ .Params.title }} - {{ .Params.source }}
    {{ end }}
  </div>
</div>
{{ end }}

{{ end }}

{{ end }}
