<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
<meta name="title" content="{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ .Site.Title }}">

{{ with .Site.Params.meta.author -}}
<meta name="author" content="{{ . }}">
{{- end }}

{{ with .Site.Params.description -}}
<meta name="description" content="{{ . }}">
{{- end }}

<base href="{{ .Site.BaseURL }}">

<meta name="google-site-verification" content="yIMX9SujBtbFnW3G6zt37s_y_Iigeu01Rf1_ENRogOs" />
<meta name="msvalidate.01" content="493623804A0FF10F8EC78AA090560A39" />

{{ template "_internal/opengraph.html" . }}

<link rel="shortcut icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}" />
<link rel="icon" type="image/x-icon" href="{{ "favicon.ico" | absURL }}" />
<link rel="icon" type="image/png" sizes="32x32" href="{{ "favicon-32x32.png" | absURL }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "favicon-96x96.png" | absURL }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ "favicon-16x16.png" | absURL }}">

{{ $css_bootstrap := resources.Get "plugins/bootstrap/css/bootstrap.min.css" | resources.Fingerprint "sha512" -}}
<link rel="stylesheet" href="{{ $css_bootstrap.Permalink }}" integrity="{{ $css_bootstrap.Data.Integrity }}">
{{ $css_main := resources.Get "css/main.scss" | toCSS | resources.Fingerprint "sha512" -}}
<link rel="stylesheet" href="{{ $css_main.Permalink }}" integrity="{{ $css_main.Data.Integrity }}">

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

