{{ with .context }}
    {{ $preview := .Site.Params.preview }}
    {{ "<!-- NAVIGATION -->" | safeHTML }}
    <nav id="navFixed" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" id="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{ with .Site.Title }}
                    <a class="navbar-brand page-scroll" href="#">{{ . | markdownify }}</a>
                {{ end }}
            </div>
            {{ "<!-- Get the navigation menu entries and create the links -->" | safeHTML }}
            <div class="collapse navbar-collapse in" id="navbar-content">
                <ul class="nav navbar-nav navbar-right">
                    {{ $sections := .Site.Params.section }}

                    {{ range $sections }}
                        {{ if and .link (or (not .preview) $preview) }}
                            <li>
                                <a href="{{ .link }}">{{ .label }}</a>
                            </li>
                        {{ end }}
                    {{ end }}
                </ul>
            </div>
            {{ "<!-- /.navbar-collapse -->" | safeHTML }}
        </div>
        {{ "<!-- /.container-fluid -->" | safeHTML }}
    </nav>
{{ end }}
