{{ define "body" }}
    <section class="section bg-primary content-block">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="section-heading">Seite nicht gefunden</h2>
                    <hr class="primary light">
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                {{ block "content" . }}
                    <div class="col-xs-12 col-md-8 text-tertiary">
                        {{ .Content }}
                    </div>
                {{ end }}
            </div>
        </div>
    </section>
{{ end }}

