{{ define "content" }}
<div class="row">
    {{ if .Params.image }}
    {{- $image := resources.Get .Params.image -}}
    <div class="col-xs-12 col-md-4">
        <img class="team-photo" src={{ ($image.Fill "440x440").Permalink }} />
    </div>
    {{ end }}

     <div class="col-xs-12 col-md-8 text-tertiary">
        {{ .Content | markdownify }}
     </div>
</div>

{{ $play_name := .File.ContentBaseName }}

<div class="row team" style="margin-top: 100px;">
    {{ range $member := ($.Site.GetPage "team").Pages }}
        {{ if in $member.Params.plays $play_name }}
            {{- $image := resources.Get $member.Params.image  -}}
            <div class="col-xs-12 col-md-4 member">
                <a href="{{ .Permalink }}" class="glightbox" data-gallery="gallery1">
                  <img src={{ ($image.Fill "440x440").Permalink }} alt="{{ .Title }}" aria-hidden="true" />
                  <div class="name">{{ .Title }}</div>
                </a>
            </div>
        {{ end }}
    {{ end }}
</div>

<div class="row play-gallery">
    {{ range .Params.images }}
        {{- $image := resources.Get . -}}
        <a href="{{ ($image.Fit "4048x4048").Permalink }}" class="play-gallery__item">
            <img src={{ ($image.Fill "320x320").Permalink }} alt="" aria-hidden="true" />
        </a>
    {{ end }}
</div>
<script type="text/javascript">
    GLightbox({ selector: '.play-gallery__item' });
</script>

{{ end }}
